<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <%= image_tag "/books/#{@book.id}/image_info/#{@book.image_info_filename}",:class => "img-thumbnail",:style => "width:100%; height: 200px"%>
        <div class="caption">
            <h4 class="pull-right"><%=book.price%>đ</h4>
            <h4><%=book.name%></h4>
            <h4><textarea rows="1" disabled="disabled"><%=book.information%></textarea></h4>
        </div>
        <div class="ratings">
            <p>
                <%(1..5).each do |i|%>
                <%if i <= @book.star%>
                <span class="glyphicon glyphicon-star"></span>
                <%else%>
                <span class="glyphicon glyphicon-star-empty"></span>
                <%end%>
                <%end%>
            </p>
        </div>
        <div>
            <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Do you want destroy?' }, class: 'btn btn-danger', style: 'padding: 2px 10px;'%>
            <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-default', style: 'padding: 2px 10px;'%>
        </div>
    </div>
</div>