<div class="row">
    <!-- catalog bên trái -->
    <div class="col-md-3">
        <p class="lead">Danh Mục</p>
        <div class="list-group">
            <% KindOfBook.all.each do |i| %>
            <a href="/kind-of-food/<%= i.name %>" class="list-group-item"><%= i.name %></a>
            <% end %>
        </div>
    </div>
    <!-- kết thúc catalog bên trái -->
    <center><h1><%= params[:type] %></h1></center>
    <!-- nội dung chính toàn trang -->
    <div class="col-md-9">
        <div class="row">
            <% @ListBook.each do |i| %>
            <div class="col-sm-4 col-lg-4 col-md-4" id="food_<%= i.id %>">
                <div class="thumbnail">
                    <%= image_tag "/books/#{f.id}/cover/#{f.cover_filename}",:id => "img_#{f.id}" ,:style => "height: 150px; width: 320px;"%>
                    <div class="caption">
                        <h4 class="pull-right">$<%= i.price %></h4>
                        <h4><a href="/books/<%= i.id %>"><%= i.name %></a></h4>
                        <p><%= i.information %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= i.star %> reviews</p>
                        <p>
                            <% for i1 in 0..i.star-1 %>
                            <span class="glyphicon glyphicon-star"></span>
                            <% end %>
                            <% for i1 in 0..5-i.star-1 %>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <% end %>
                        </p>
                    </div>
                    <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
            <% end %>
            <center><button class="buttonMore" onclick="window.location.href='/kind-of-food/<%= params[:type] %>/?page=<%= params[:page].to_i+1 %>'">More..</button></center>
            <hr>
        </div> <!-- kết thúc danh sách item 2 dòng đầu -->        

    </div>
    <!-- kết thúc phần nội dung toàn trang  -->

</div>
<%= render 'ShoppingCart', type: 'home'%>